
.row {
  display: flex;
}

.row-start {
  justify-content: flex-start;
}
.row-end {
  justify-content: flex-end;
}
.row-center {
  justify-content: flex-center;
}
.row-around {
  justify-content: space-around;
}
.row-between {
  justify-content: space-between;
}
.row-top {
  align-items: flex-start;
}
.row-bottom {
  align-items: flex-end;
}
.row-middle {
  align-items: flex-center;
}
.row-column {
  flex-direction: column;
}