
.itemSelector {
  display: inline-flex;
  background-color: #242324;
  padding: 3px;

  & > * {
    margin: 0.5px;
    background-color: #313131;
    border: 1px solid;
    border-color: #454545 #212121 #191919 #212121;

    display: inline-flex;
    position: relative;
    padding: 3px;
    cursor: pointer;

    & img {
      width: 32px;
      height: 32px;
    }
  }
}